@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@theme {
  /* Marrón Oscuro de Textos y Logos */
  --color-primary: #3B2211;
  /* Dorado de VINZ */
  --color-primary-container: #C89F53;
  --color-on-primary-fixed: #ffffff;
  --color-inverse-primary: #e2bd74;
  
  /* Verde Oliva del menú (Más oscuro para contraste) */
  --color-tertiary: #4A5338;
  --color-tertiary-container: #8A865D;
  
  /* Crema Cálido de Fondo */
  --color-surface: #FDFBF7;
  --color-background: #FDFBF7;
  --color-on-surface: #3B2211;
  --color-on-surface-variant: #6b4d36;
  
  --color-outline-variant: #e0d9c8;
  
  /* Tipografía unificada (Logo Style) */
  --font-sans: 'Playfair Display', serif;
  --font-body-md: 'Playfair Display', serif;
  --font-headline-xl: 'Playfair Display', serif;
  --font-headline-lg: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply bg-surface dark:bg-[#080603] transition-colors duration-300;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .premium-table-card {
    @apply bg-white dark:bg-[#121212] rounded-3xl shadow-2xl overflow-hidden border border-outline-variant/30 dark:border-white/10;
  }

  .premium-table-toolbar {
    @apply p-6 border-b border-outline-variant/50 dark:border-white/10 flex flex-col md:flex-row items-center justify-between gap-4 bg-surface/30 dark:bg-black/20;
  }

  .premium-table {
    @apply w-full text-left border-collapse whitespace-nowrap;
  }

  .premium-table thead th {
    @apply px-6 py-4 bg-primary dark:bg-[#0f0f0f] text-white text-[11px] font-bold uppercase tracking-widest border-b border-outline-variant/50 dark:border-white/10;
  }

  .premium-table tbody tr {
    @apply transition-all duration-300 bg-white dark:bg-[#1a1a1a];
  }

  .premium-table tbody tr:hover {
    @apply bg-primary/5 dark:bg-[#252525] -translate-y-1 relative z-10 shadow-lg shadow-black/5 dark:shadow-black/50;
  }

  .premium-table tbody td {
    @apply px-6 py-4 border-b border-outline-variant/20 dark:border-white/5 text-on-surface dark:text-white/90 text-sm;
  }
}
